# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Database files
*.db

# Environment variables
.env

# Git
.git/
.gitignore

# Mac OS files
.DS_Store

# VSCode files (optioneel)
.vscode/
