# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/

# Database files
*.db

# Celery and Redis
celerybeat-schedule
*.pid

# MacOS system files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Environment variables
*.env
*.local

# Docker override files (optioneel)
docker-compose.override.yml

# .gitignore
celerybeat-schedule
